@import "../scss/variables.scss";
.tag {
  background-color: $colorPrimary;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  width: 115px;
  height: 25px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding-top: 2px;
}
