.home-page {
  max-width: 90%;
  margin: auto;
  .card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    place-items: center;
    background: #f6f6f6;
    padding: 30px;
    margin-top: 40px;
    border-radius: 25px;
    padding-top: 56px;
  }
}
