@import "../scss/variables.scss";
.header-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
  img {
    // padding: 20px;
    height: 70px;
    width: 170px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    a {
      color: $colorPrimary;
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: right;
      text-decoration: none;
    }
  }
}
