.slider {
  position: relative;
  height: 415px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  .icon-navigation {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;

    i {
      cursor: pointer;
      font-size: 60px;
    }
  }
  .slider-no {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
  }
}
